.header {
    position: fixed;
    width: 100%;
    padding: 38px 49px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    &__logo {
        display: block;
        height: 65px;
        width: 198px;
    }
    &__menu {
        margin-left: 512px;
        width: 395px;
        height: 60px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        &:hover {
            text-decoration: none;
            color: $color-red;
            transition: 0.2s all;
        }
    }
    &__hamburger {
        padding: 19px 0px;
        width: 60px;
        height: 60px;
        background: $color-red;
        box-shadow: 4px 8px 0px rgba(0, 0, 0, 0.1);
        border-radius: 100px 0px 100px 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        span {
            display: block;
            margin: 0 auto;
            height: 3.7px;
            width: 34px;
            background-color: #fff;
            
        }
    }
}