.header {
    position: fixed;
    width: 100%;
    padding: 38px 49px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    &__logo {
        display: block;
        height: 65px;
        width: 198px;
    }
    &__nav {
        margin-left: 512px;
        width: 395px;
        height: 60px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        &:hover {
            text-decoration: none;
            color: $color-red;
            transition: 0.2s all;
        }
    }
}