.title {
    color: white;
    &_risque {
        font-family: 'Risque', cursive;
    }    
    &_fs16 {
        font-size: 16px;
        line-height: 19px;
    }
    &_fs38 {
        font-size: 38px;
        line-height: 44px; 
    }
}