@import 'libs/bootstrap-reboot';
@import 'libs/fonts';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1300px;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.body {
    position: relative;
}
.snowflake {
    position: absolute;
    width: 523px;
    height: 523px;
    bottom: 40px;
    left: -218px;
}

@import 'base/variables';
@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/promo';
